* {

  }

a {
  color: red;
    background-color: black;

}


.first-anchor {
  text-align: center;
    background-color: black;
      color: white;

}

main {
  text-align: center;
}
footer p {
  text-align: center;
}
